# Yarn
##################
# see: https://yarnpkg.com/advanced/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins

# Intellij
##################
.idea
*.iml

# VS Code
##################
.vscode

# MacOS
##################
.DS_Store
._*
.Spotlight-V100
.Trashes

# Project specific
##################
.env
build
